@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body { font-family: 'Droid Serif'; }
h1, h2, h3 {
font-family: 'Yanone Kaffeesatz';
font-weight: normal;
}
.remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; }

code {
    background: #e7e8e2;
    border-radius: 5px;
}

table {
    width: 100%;
}

#slide-subtitle .animate h1 {
    animation: 3s slide-right;
}

@keyframes slide-right {
  from {
    margin-left: -150%;
  }

  to {
    margin-left: 0%;
  }
}

#slide-why .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#slide-why .grid .left, #slide-why .grid .right {
    width: 400px;
}

#slide-why .grid .left img, #slide-why .grid .right img {
    max-width: 100%;
}

#slide-why-react img {
    height: 350px;
}

#slide-react2angular-first-slide img {
    width: 500px;
}

.delete-angular-img img {
    margin-top: 20px;
    height: 250px;
}